﻿html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:70px}
body{font-family:'Microsoft Yahei','微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti;margin:0;background-color:#fff}
.main-nav{margin-left:1px}
.main-nav.nav-tabs.nav-stacked > li{}
.main-nav.nav-tabs.nav-stacked > li > a{padding:10px 8px;font-size:12px;font-weight:600;color:#4A515B;background:#E9E9E9;background:-moz-linear-gradient(top,#FAFAFA 0%,#E9E9E9 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FAFAFA),color-stop(100%,#E9E9E9));background:-webkit-linear-gradient(top,#FAFAFA 0%,#E9E9E9 100%);background:-o-linear-gradient(top,#FAFAFA 0%,#E9E9E9 100%);background:-ms-linear-gradient(top,#FAFAFA 0%,#E9E9E9 100%);background:linear-gradient(top,#FAFAFA 0%,#E9E9E9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',endColorstr='#E9E9E9');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',endColorstr='#E9E9E9')";border:1px solid #D5D5D5;border-radius:4px}
.main-nav.nav-tabs.nav-stacked > li > a > span{color:#4A515B}
.main-nav.nav-tabs.nav-stacked > li.active > a,#main-nav.nav-tabs.nav-stacked > li > a:hover{color:#FFF;background:#3C4049;background:-moz-linear-gradient(top,#4A515B 0%,#3C4049 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4A515B),color-stop(100%,#3C4049));background:-webkit-linear-gradient(top,#4A515B 0%,#3C4049 100%);background:-o-linear-gradient(top,#4A515B 0%,#3C4049 100%);background:-ms-linear-gradient(top,#4A515B 0%,#3C4049 100%);background:linear-gradient(top,#4A515B 0%,#3C4049 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B',endColorstr='#3C4049');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B',endColorstr='#3C4049')";border-color:#2B2E33}
#main-nav.nav-tabs.nav-stacked > li.active > a,#main-nav.nav-tabs.nav-stacked > li > a:hover > span{color:#FFF}
.main-nav.nav-tabs.nav-stacked > li{margin-bottom:4px}
.nav-header.collapsed > span.glyphicon-chevron-toggle:before{content:"\e114"}
.nav-header > span.glyphicon-chevron-toggle:before{content:"\e113"}
footer.duomi-page-footer{background-color:white}
footer.duomi-page-footer .beta-message{color:#a4a4a4}
footer.duomi-page-footer .beta-message a{color:#53a2e4}
footer.duomi-page-footer .list-inline a,footer.authenticated-footer .list-inline li{color:#a4a4a4;padding-bottom:30px}
footer.duomi-page-footer{background-color:white}
footer.duomi-page-footer .beta-message{color:#a4a4a4}
footer.duomi-page-footer .beta-message a{color:#53a2e4}
footer.duomi-page-footer .list-inline a,footer.authenticated-footer .list-inline li{color:#a4a4a4;padding-bottom:30px}
.secondmenu a{font-size:12px;color:#4A515B;text-align:center;border-radius:4px}
.secondmenu > li > a:hover{background-color:#66be8c;border-color:#428bca;color:#fff}
.secondmenu li.active{background-color:#66be8c;border-color:#428bca;border-radius:4px}
.secondmenu li.active > a{color:#ffffff}
.navbar-static-top{background-color:#66be8c;margin-bottom:5px}
.navbar-brand{display:inline-block;vertical-align:middle;color:#fff}
#logo{background:url('../../static/images/1.png') no-repeat 10px 8px; padding-right:80px;}
.navbar-brand:hover{color:#fff}
.collapse.glyphicon-chevron-toggle,.glyphicon-chevron-toggle:before{content:"\e113"}
.collapsed.glyphicon-chevron-toggle:before{content:"\e114"}
.col-md-2{max-height:66666px;margin:0;padding:0}
.badge{background-color:#f5694b}
.gotop{position:fixed;display:none;background:#66be8c;padding:12px 8px;color:#fff;border-radius:3px;vertical-align:top;text-align:center;bottom:120px;right:50%;margin-right:-670px;z-index:888}
.gotop .arrow{width:0;height:0;display:block;border-radius:3px;border-width:0 12px 15px;border-style:dashed dashed solid;border-color:transparent transparent #fff}
.gotop .arrow.lit{position:absolute;bottom:8px;right:8px;border-color:transparent transparent #66be8c}
.gotop:hover .arrow.lit{border-color:transparent transparent #66be8c}
.form-control{padding:0 10px;height:34px;max-width: 98%;line-height:normal;border:1px solid #ddd;border-radius:3px;box-sizing:content-box}
.form-control:hover{border:1px solid #66be8c}
.panel-body{word-wrap:break-word;word-break:normal}
.bs-docs-example:after{content:"工具";position:absolute;top:-1px;left:-1px;padding:5px 8px;font-size:12px;font-weight:bold;background-color:#f5f5f5;border:1px solid #ddd;color:#9da0a4;-webkit-border-radius:4px 0 4px 0;-moz-border-radius:4px 0 4px 0;border-radius:4px 0 4px 0}
.bs-docs-example{position:relative;margin:5px 0;padding:35px 10px 1px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.bs-docs-demoexample:after{content:"说明";position:absolute;top:-1px;left:-1px;padding:5px 8px;font-size:12px;font-weight:bold;background-color:#f5f5f5;border:1px solid #ddd;color:#9da0a4;-webkit-border-radius:4px 0 4px 0;-moz-border-radius:4px 0 4px 0;border-radius:4px 0 4px 0}
.bs-docs-demoexample{position:relative;margin:5px 0;padding:35px 10px 1px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}

.btn-clipboardcode{position:absolute;top:0;right:0;z-index:10;display:block;padding:5px 8px;font-size:12px;color:#767676;cursor:pointer;background-color:#fff;border:1px solid #e1e1e8;border-right:0;border-top:0;border-radius:0 4px 0 4px}
.zeroclipboard-is-hover{color:#fff;background-color:#66be8c;border-color:#66be8c}
::selection{background:#66be8c;color:#fff}
::-moz-selection{background:#66be8c;color:#fff}
::-webkit-selection{background:#66be8c;color:#fff}
#copycodeall{display:none; max-width:98%;}
.badge{background-color:#66be8c}
.col10main{min-height:500px;background-color:#fff;max-height:66666px;height:auto;padding-top:5px;}
.centertop,.mdtop4{border:1px solid #ddd;max-height:500px;height:280px}
.mdtop4{}
.centerbottom{border:1px solid #ddd;border-right:none;max-height:500px;height:300px}
.centercen{margin-top:10px;border-top:1px solid #ddd}
.panelborder{border:none}
.mdban4{border:1px solid #ddd;min-height:180px}
.img-rounded{margin-top:10px}
.fastmargin{margin-top:10px;padding-left:30px}
.mdban4{margin-bottom:10px}
.Span1left{float:left}
.ds-powered-by{display:none}
.ds-dialog-footer{display:none}
.divclear{padding:0px}
.divtblist{width:28%;float:left;margin-right:5%}
.divtblist:hover{cursor:pointer;color:#390;text-decoration:none;border-color:#66be8c;text-decoration:none}
.boddiv{color:#333}
.boddiv img{width:50px;height:50px;float:left;margin-right:10px}
.boddiv div{padding:3px;font-size:18px}
.boddiv span{display:block;font-size:12px;color:#999;margin-top:4px}
.jz a:hover{color:#1769ff;text-decoration:none}
.jz{line-height:50px;font-size:15px;color:#C8C8C8;position:relative;z-index:5}
.nav-zi{position:absolute;top:50px;left:0px;background-color:#fff;border:1px solid #66be8c;border-top:0px;height:auto;width:100%;text-align:left;}
.nav-zi ul{padding-top:20px;padding-bottom:10px}
.nav-zi li{width:280px}
.nav-zi a{border:1px solid #EDEDED;padding-left:40px;margin-left:10px;padding-right:20px;margin-right:10px;display:block;line-height:40px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.4s ease-in}
.nav-zi a:hover{background-color:#66be8c;color:#FFF;border:1px solid #FFF;}
.navbar-default  .navbar-brand{color:#FFF}
.nav-zi a{color:#666;}
.hot a{color:#F34925;}
#topfiex a{color:#ffffff;}
#topfiex a:hover{background-color:#3CB371;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: #FFF; background-color: #3CB371;}
.sidebar .widget{background:#ffffff;padding:21px 30px}
.main-footer .widget{padding:0px 30px}
.widget .title{margin-top:0;padding-bottom:7px;border-bottom:1px solid #ebebeb;position:relative}
.widget .title:after{content:"";width:90px;height:1px;background:#f4645f;position:absolute;left:0;bottom:-1px}
.widget .recent-post .recent-single-post{border-bottom:1px dashed #ebebeb;padding-bottom:14px;margin-bottom:14px}
.widget .recent-post .recent-single-post:last-child{margin-bottom:0}
.widget .recent-post .recent-single-post .post-title{color:#505050;-webkit-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}
.widget .recent-post .recent-single-post .post-title:hover{color:#f4645f;text-decoration:none}
.widget .recent-post .recent-single-post .data{color:#959595}
.widget .tag-cloud a{border:1px solid #66be8c;padding:2px 7px;color:#959595;line-height:1.5em;display:inline-block;margin:0 7px 7px 0;-webkit-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}
.widget .tag-cloud a:hover{color:#ffffff;background:#66be8c;border:1px solid #66be8c;text-decoration:none}
.widget .tag-cloudf a{border:1px solid #303030;padding:2px 7px;color:#959595;line-height:1.5em;display:inline-block;margin:0 7px 7px 0;-webkit-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}
.widget .tag-cloudf a:hover{color:#ffffff;background:#66be8c;border:1px solid #66be8c;text-decoration:none}
.widget .social{padding:0;margin:0}
.widget .social li{display:inline-block;margin:0 2px 5px 0;text-align:center}
.widget .social li a i{width:35px;height:35px;line-height:35px;border:1px solid #ebebeb;color:#959595;-webkit-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}
.widget .social li:hover i{color:#ffffff;background:#f4645f;border:1px solid #f4645f}
.widget .newsletter .input-group{margin-bottom:10px;display:block}
.widget .newsletter .input-group .email,.widget .newsletter .input-group btn{width:100%}
.widget .ad{text-align:center}
.widget .ad img{max-width:100%}
.main-footer{background:#202020;padding:35px 0 0;color:#959595}
.main-footer .widget .title{color:#ffffff;border-bottom:1px solid #303030}
.main-footer .widget .tag-cloud a{border:1px solid #303030}
.main-footer .widget .tag-cloud a:hover{border:1px solid #66be8c}
.main-footer .widget .friend-links a{border:none}
.main-footer .widget .friend-links a:hover{border:none}
.main-footer .widget .friend-links hr{margin:1em 0;border-top:1px dashed #303030}
.main-footer .widget .recent-post .recent-single-post{border-bottom:1px dashed #303030}
.main-footer .widget .recent-post .recent-single-post .post-title{color:#959595}
.main-footer .widget .recent-post .recent-single-post .post-title:hover{color:#66be8c}
.main-footer .widget .recent-post .recent-single-post .data{color:#505050}
.copyright{background:#202020;font-size:13px;text-align:center;color:#555555;padding-top:10px;padding-bottom:10px;border-top:1px solid #202020;}
.copyright span{margin:0 .5em}
.copyright a{color:#555555}
#Clientid .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {padding: 8px;line-height: 2;vertical-align: top;border-top: 1px solid #ddd;}
.mulu{ margin-bottom:5px;}
.titcolor{ background-color:#f5f5f5;}
.footermap .list-inline{ border-bottom:1px dashed #ebebeb; padding-bottom: 5px;}
.hottag{color:#f4645f;}
.footermap a:hover{color:#f4645f;}
.greentag{color:#0d8c21;}
.footcenter{ text-align:center;}
.hbflag{ margin-bottom:15px;}
.hbflag li a:hover{ background-color:#fff; color:#f4645f;}
.nav > li:hover .dropdown-menu{display:block}
.navbar-default .navbar-nav > li > a{color:#FFF}
.navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > li > a:hover{color:#FFF;background-color:#3CB371}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav > .open > a:hover{color:#FFF;background-color:#3CB371}
.homead{width:284px;height:34px;font-family:华文行楷;color:white;font-size:22px;line-height:40px;margin-left:30%;text-align:center}
.had-1{background-color: #FF8C00; float: left; margin-left: 15px;}
.had-2{background-color: #00A3E4; float: left; margin-left: 20px}
.panel{margin-bottom:10px;}
.IcpMainInfo li{border-bottom:1px solid #f7f7f7;line-height:40px;font-size:14px;overflow:hidden}
.IcpMainInfo li span{width:160px;display:inline-block;float:left;padding-right:10px;text-align:right;color:#999999}
.IcpMainInfo li p{display:inline-block;float:left;padding-left:10px;color:#666666;}
.IcpMainInfo li p.Wzno{height:auto;overflow:hidden;line-height:30px}
.pusmall .IcpMainInfo li p{width:48%}
.bg-gray{background-color:#fdfdfd}